.education
{ // Блок - образование 
    margin-bottom: 4.688em; // Внешний нижний отступ

    .heading // Блок - заглавие
    { margin-bottom: 2.313em } // Внешний нижний отступ

    .my
    { // Списочный блок
        margin: .813em 2em 0 0; // Внешний верхний, правый отступы
        padding: 0; // Все внутренние отступы убраны
        
        .list
        { // Элемент списка
            margin: 0 0 .8em 1.188em; // Внешний нижний, левый отступы

            &__title
            { // Элемент - заглавие
                margin: 0; // Элемент - внешние отступы
                line-height: 1.05em; // Межстрочный интервал
                
                &::after // После заглавия
                { margin-left: .55em } // Внешний левый отступ
            }
        }
    }

    

    .side-bottom
    { // Нижняя сторона с содержанием (подзаглавие, описание)
        margin-left: 3.75em; // Внешний нижний отступ

        .list
        { // Элемент списка
            &__subtitle
            { // Элемент - подзаглавие
                margin: 0; // Все внешние отступы убраны
                margin-top: .225em; // Внешний вверхний отступ
            }

            &__description // Элемент - описание
            { margin: .438em 0 } // Внешние вертикальные отступы
        }
    }
}