//- Блок - уровень владения программами
.software
    //- Блок - заглавие
    +heading('software')
    //- Блок - программы
    .softs
        //- Блок - левая колонка
        .left-softs
            //- Элемент - уровень владения фотошопом
            +new-soft('photoshop', 91)
            //- Элемент - уровень владения иллюстратором
            +new-soft('illustrator', 71)
            //- Элемент - уровень владения индизайном
            +new-soft('indesign', 57)
        //- Блок - правая колонка
        .right-softs
            //- Элемент - уровень владения дримвивером
            +new-soft('dreamweaver', 83)
            //- Элемент - уровень владения афтэр эффектом
            +new-soft('after effects', 61)
            //- Элемент - уровень владения вёрсткой
            +new-soft('html&css3', 90)