.contact
{ // Контактный блок
    .heading
    { // Блок - заглавие
        &__line { width: 36% } // Изменили ширину элемента - линия, на необходимое значение
    }
    
    &__table
    { // Блок - таблица
        
        .first
        { // Элемент первого столбца
            font-family: $bold-font; // Семейство шрифта (жирный)
            font-size: 2em; // Размер шрифта
            color: $default-color // Обычный цвет (синий)
        }
        .second
        { // Элемент второго столбца
            font-family: $default-font; // Семейство шрифта (обычный)
            font-size: 2em; // Размер шрифта
        }
    }
}