//- Блок - контакты
.contact
    //- Элемент общего назначения - заглавие
    +heading('contact')
    //- Элемент - таблица
    table.contact__table
        //- Строка
        tr
            //- Колонка - первая (жирное начертание), название
            td.first ADDRESS
            //- Колонка - вторая (тонкое начертание), описание
            td.second Main Street, City.
        //- Повторяющаяся смысловая строка (не по содержанию)
        tr
            td.first E-MAIL
            td.second contact@domain.com
        //- Повторяющаяся смысловая строка (не по содержанию)
        tr
            td.first PHONE
            td.second 555-555-555
        //- Повторяющаяся смысловая строка (не по содержанию)
        tr
            td.first WEBSITE
            td.second www.yourweb.com