&__col-left
{ // Колонка слева
	display: flex; // Гибкое отображение
	justify-content: center; // Все дочерние элементы по центру
	flex-direction: column; // Все дочерние элементы в колонку
	width: 35%; // Ширина данной колонки
}