//- Весь блок - скилы (умения)
.skills
    //- Добавили блок общего назначения - заглавие
    +heading('skills')
    //- Общий блок - поинты
    .points
        //- Блок - креативность
        .creative
            //- Элемент - название
            h1.title CREATIVE
            //- (*) - шариков создается (раскрашенных) и, из максимум 12, вычитается (*), и получаем количество нераскрашенных шариков
            +circles(9)
        //- Блок - командная работа
        .teamwork
            //- Элемент - название
            h1.title TEAMWORK
            //- Множественный элемент, содержащий элементы из шариков
            +circles(11)
        //- Блок - введение новшеств
        .innovate
            //- Элемент - название
            h1.title INNOVATE
            //- Множественный элемент, содержащий элементы из шариков
            +circles(6)
        //- Блок - коммуникабельность
        .communication
            //- Элемент - название
            h1.title COMMUNICATION
            //- Множественный элемент, содержащий элементы из шариков
            +circles(11)