.skills
{ // Блок - скилы (умения)
    display: flex; // Гибкое отображение
    flex-direction: column; // Элементы в столбец

    .heading
    { // Блок - заглавие
        &__line // Элемент - линия
        { width: 47.2% } // Изменили ширину линии на неоходимую под этот блок
    }

    .points
    { // Блок - поинты
        width: 74.7%; // Ширина блока
        align-self: center; // Элементы (горизонтально) по центру

        .creative,
        .teamwork,
        .innovate,
        .communication
        { // Блоки: креативность, командная работа, введение новшеств, коммуникабельность
            display: flex; // Гибкое отображение
            flex-direction: column; // Элементы в столбец
        }

        .title
        { // Элемент - название
            font-family: $light-font; // Семейство шрифта (тонкое)
            align-self: center; // Данный элемент (горизонтально) по центру 
            font-size: 2.25em; // Размер шрифта
        }

        @import '../../../{block}-component/circles/circles' // Подключили множественный блок, содержащий элементы - шарики (не/раскрашенные)

    }
}