//- Весь превью блок
section.preview
	//- Блок с аватаркой
	.avatar
		//- Круг (аватарка)
		.avatar__circle
			//- Контур круга (аватарки)
			.avatar__circle_filled
	//- Текстовый блок
	.texts
		//- Имя
		h2.texts__name NAME HERE
		//- Фамилия
		h1.texts__surname SURNAME
		//- Специализация
		h3.texts__specialty GRAPHIC DESIGNER