.preview
{ // Превью блок
	display: flex; // Гибкое отображение
  	flex-direction: column; // Элементы в столбец
	
	.avatar
	{ // Блок с аватаркой
		display: flex; // Гибкое отображение
		align-items: center; // Элементы (горизонтально) по центру
		justify-content: center; // Все дочерние элементы по центру
	
		&__circle
		{ // Обводка круга (аватарки)
			display: flex; // Гибкое отображение 
			align-items: center; // Элементы (горизонтально) по центру
			justify-content: center; // Все дочерние элементы по центру
			width: 22.125em; // Равная высоте ширина
			height: 22.125em; // Равная ширине высота
			border-radius: 50%; // Полное скругление
			border: 0.125em solid $default-color; /* Обводка, шириной 2px, со цветом, хранящимся
													 в переменной $default-color */
	
			&_filled
			{ // Внутреннее заполнение круга (аватарки)
				width: 19.250em; // Равная высоте ширина
				height: 19.250em; // Равная ширине высота
				border-radius: 50%; // Полное скругление
				background-color: $default-color; // Стандартная заливка (синяя)
			}
		}
	}

	.texts
	{ // Текстовый блок
		display: flex; // Гибкое отображение
		flex-direction: column; // Элементы в столбец
		align-items: center; // Элементы (горизонтально) по центру
		line-height: 5em; // Межстрочный интервал
		white-space: nowrap; // Отдельные слова не переносятся

		&__name
		{ // Имя
			font-size: 5.1em; // Размер шрифта
			font-family: $light-font; // Семейство шрифта (тонкий)
			font-weight: 100; // Утоньшили начертание шрифта
		}

		&__surname
		{ // Фамилия
			font-size: 5.9em; // Размер шрифта
			font-family: $bold-font; // Семейство шрифта (жирный)
		}

		&__specialty
		{ // Специальность
			font-size: 2.45em; // Размер шрифта
			font-family: $default-font; // Семейство шрифта (обычный)
		}
	}			
}