@font-face {
	font-family: MiryadPro;
	src: url('../fonts/Regular/MiryadPro-Regular.eot');
	src: local('☺'), url('../fonts/Regular/MiryadPro-Regular.woff') format('woff'), url('../fonts/Regular/MiryadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: MiryadProBold;
	src: url('../fonts/Bold/MiryadPro-Bold.eot');
	src: local('☺'), url('../fonts/Bold/MiryadPro-Bold.woff') format('woff'), url('../fonts/Bold/MiryadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: MiryadProLight;
	src: url('../fonts/Light/MiryadPro-Light.eot');
	src: local('☺'), url('../fonts/Light/MiryadPro-Light.woff') format('woff'), url('../fonts/Light/MiryadPro-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}