@media (max-width: 1566px)
{ // Брейкпоинт - 1566px
    .page
    { // Обёртка страницы
        &__col-right
        { // Правая колонка
            .education,
            { // Образование
                .my
                { // Список
                    .list
                    { // Элемент списка
                        &::before // Маркер
                        { content: none; } // Убрали контент (отображение)

                        .side-bottom // Содержание снизу, после названия
                        { margin: 0 } // Убраны все внешние отступы
                    }
                }
            }
            
            .experience
            { // Опыт работы
                .heading // Блок - заглавие
                { margin-bottom: 2.313em } // Внешний нижний отступ

                .my
                { // Список
                    .list
                    { // Элемент списка
                        &::before // Маркер
                        { content: none } // Убрали контент (отображение) 

                        &__title
                        { // Элемент - заглавие
                            margin: 0; // Внешние отступы убраны
                            line-height: 1.05em; // Межстрочный интервал
                        }

                        &__subtitle // Элемент - подзаглавие
                        { margin-top: .225em } // Внешний верхний отступ

                        &__description // Элемент - описание
                        { margin: .438em 0 } // Внешние вертикальные отступы

                        .side-bottom // Содержание снизу, после названия
                        { margin: 0 } // Убраны все внешние отступы
                    }
                }
            }
        }
    }
}