@media (max-width: 1340px)
{ // Брейкпоинт - 1340px
    .page
    { // Обёртка страницы
        flex-direction: column; // Элементы в столбец
        align-items: center; // Элементы (горизонтально) по центру

        &__col-left, // Левый столбец
        &__col-right // Правый столбец
        {
            width: 70%; // Ширина
            margin: 0; // Внешние отступы убраны
            margin-bottom: 1.9em; // Внешний нижний отступ
        }

        &__col-left // Левый столбец
        { // Подключили блок - скилы (умения)
            .contact
            { // Блок - контакты
                display: flex; // Гибкое отображение
                flex-direction: column; // Дочерние элементы в колонку

                &__table // Таблица
                { align-self: center } // Данный элемент по центру (горизонтально)
            }

            .skills
            { // Блок - умения
                margin-bottom: 1.9em; // Внешний нижний отступ
                
                .points
                { // Блок - поинты
                    // Блоки:
                    .creative, // Креативность,
                    .teamwork, // Командная работа,
                    .innovate, // Введение новшеств,
                    .communication // Коммуникабельность
                    {
                        .circles
                        { // Блок, содержащий кружочки и скрытый, адаптационный, прогресс-бар
                            height: 2em; // Высота
                            background-color: lightgray; // Цвет (фоновый)

                            .circle, // Кружочек (нераскрашенный)
                            .circle_colored // Кружочек (раскрашенный)
                            { display: none } // Отображение убрано

                            .progress-bar
                            { // Адаптационный прогресс-бар
                                display: block; // Блочный элемент
                                background-color: $default-color; // Цвет прогресса
                            }
                        }
                    }
                }
            }
        }

        &__col-right
        { // Правый столбец
            //Блоки:
            .education, // Образование,
            .experience // Опыт работы
            { 
                .my
                { // Список
                    .list
                    { // Элемент списка
                        
                        &::before // Маркер
                        {
                            content: ''; // Поместили контент (отображается)
                            margin: .75em 1em 0 0; // Внешний верхний, правый отступы
                        }

                        &__title
                        { // Элемент - заглавие
                            &::after
                            { // Содержание после заглавия (комментарий)
                                display: block; // Блочное отображение
                                font-size: .637em; // Размер шрифта
                                margin-left: 1.75em; // Внешний левый отступ
                            }
                        }

                        .side-bottom // Содержание снизу, после названия
                        {  margin-left: 3.7em } // Внешний нижний отступ
                    }
                }
            }
        }
    }
}