.page
{ // Страница
	display: flex; // Гибкое отображение
	flex-direction: row; // Колонки, как единая строка
	flex-wrap: wrap; // Перенос - да
	justify-content: space-around; // Между объектами всегда равные боковые отступы

	@import '__col-left/page__col-left', // Подключили элемент страницы - левая колонка
			'__col-right/page__col-right' // Подключили элемент страницы - правая колонка
}