//- Вся страница
.page
	//- Левая колонка
	.page__col-left
		//- Компонент - превью блок
		include __col-left/preview/preview
		//- Компонент - профильный блок
		include __col-left/profile/profile
		//- Компонент - контактный блок
		include __col-left/contact/contact
		//- Компонент - скилс-блок (умения)
		include __col-left/skills/skills
	//- Правая колонка
	.page__col-right
		//- Компонент - образовательный блок
		include __col-right/education/education
		//- Компонент - блок опыт работы
		include __col-right/experience/experience
		//- Компонент - программное владение блок
		include __col-right/software/software