.circles
{ // Блок из шариков
    display: flex; // Гибкое отображение
    flex-direction: row; // Элементы в строку
    justify-content: space-between; // Между объектами остаётся место, но первый и последний расположены по краям

    .circle
    { // Шарик (нецветной)
        height: 1.4vw; // Равная ширине высота
        width: 1.4vw; // Равная высоте ширина
        background-color: lightgray; // Цвет светло-серый
        border-radius: 50%; // Полное скругление

        &_colored
        { // Раскрашен
            height: 1.4vw; // Равная ширине высота
            width: 1.4vw; // Равная высоте ширина
            background-color: $default-color; // Цвет обычный (синий)
            border-radius: 50% // Полное скругление
        }
    }
    
    .progress-bar
    { // Адаптационный прогресс-бар
        height: 2em; // Высота
        background-color: black; // Цвет
        display: none; // Скрыт по умолчанию
    }
}