//- Вместо x - указывается значение, являющееся - количество шариков (раскрашенных)
mixin circles(x)
    //- Всего шариков
    - var max = 12
    //- Процент заполнения адаптационного прогресс-бара
    - var per = 100 / max * x
    //- Общий блок с шариками
    .circles
        //- По заданному количеству создадутся раскрашенные шарики
        - for (var i = 0; i < x; ++i) {
            .circle_colored
        - }
        //- От максимального количества вычитаем заданное и получаем результат, являющийся - нераскрашенные шарики
        - for (var i = 0; i < (max - x); ++i) {
            .circle
        - }
        //- При энейблинге адаптации - будет появляться прогресс-бар
        .progress-bar(style="width: " + per + "%")