.experience
{ // Блок - опыт
    margin-bottom: 5.4em; // Внешний нижний отступ

    .heading
    { margin-bottom: 3.625em } // Внешний нижний отступ

    .my
    { // Списочный блок
        padding-left: 1.188em; // Внутренний левый отступ

        .list
        { // Элемент списка
            margin-bottom: .8em; // Внешний нижний отступ

            &::before // Перед списком
            { margin: 1.15em 2.063em 0 0 } // Внешний верхний, правый отступы

            // Элементы:
            &__title, // Заглавие,
            &__subtitle, // Подзаглавие,
            &__description // Описание
            { margin: 0 } // Все внешние отступы убраны

            &__title { // Элемент - заглавие
                line-height: 1.55em; // Межстрочный интервал

                &::after // После заглавие
                { margin-left: 0.6em; } // Внешний левый отступ
            }

            .side-bottom // Всё нижнее содержание, после заглавия
            { margin-left: 3.7em; } // Внешний левый отступ
        }
    }
}