//- Вместо title, subtitle, count, указываем переменные в виде: "заглавие" (общее), "подзаглавие" (общее), "количество" (всего)
mixin list(title, subtitle, count)
    //- Создание списка
    ul.my
        //- Уравниваем цикл с указанным количеством
        - for (var i = 0; i < count; ++i) {
            //- Создание элемента списка
            li.list
                //- Элемент - заглавие, содержит в себе переменную title - заглавие (общее)
                h1.list__title= title
                //- Элемент - нижняя часть
                .side-bottom
                    //- Подэлементы: подназвание (общее), ...
                    h2.list__subtitle= subtitle
                    //- ... описание (общее)
                    p.list__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        - }