.my
{ // Ul - тэг, список маркированный
    .list
    { // Элемент списка
        list-style: none; // Убрали стили у элементов списка

        &:before
        { // Маркер списка
            display: inline-block; // Инлайновый блок
            float: left; // Обтекание слева
            height: 1.813em; // Равная ширине высота
            width: 1.813em; // Равная высоте ширина
            border-radius: 50%; // Полное скругление
            background-color: #000; // Чёрный цвет
            content: ''; // Содержащийся контент
            margin: .75em 2.063em 0 0; // Внешние, необходимые, отступы сверху и справа
        }

        &__title
        { // Элемент - заглавие
            color: $default-color; // Цвет обычный (синий)
            font-family: $bold-font; // Семейство шрифта (жирный)
            font-size: 2.475em; // Размер шрифта
            line-height: 1.45em; // Межстрочный интервал

            &::after
            { // После заглавия
                content: '// Feb 2011 - Jun 2014'; // Содержащийся контент
                font-family: $light-font; // Семейство шрифта (тонкий)
                color: black; // Цвет чёрный
                font-size: .937em; // Размер шрифта
            }
        }
    }

    
    .side-bottom
    { // Всё нижнее содержание, после заглавия
        .list
        { // Элемент списка
            &__subtitle
            { // Элемент - подзаглавие
                font-family: $light-font; // Семейство шрифта (тонкий)
                font-size: 2.375em; // Размер шрифта
            }

            &__description
            { // Элемент - описание
                font-family: $default-font; // Семейство шрифта (обычный)
                font-size: 1.488em; // Размер шрифта
            }
        }
    }
}