.profile
{ // Блок - профиль
    
    .heading
    { // Блок - заглавие

        &__line // Элемент - линия
        { width: 40% } // Изменили ширину линии на неоходимую под этот блок
    }

    &__description
    { // Блок с описанием
        font-family: $default-font; // Семейство шрифта (обычный)
        line-height: 1.2em; // Межстрочный интервал
        font-size: 1.481em; //23.7px
        width: 96%; // Ширина блока с описанием (относительно всей левой колонки)
        
        &_selected // Жирный в описании шрифт
        { font-family: $bold-font } // Семейство шрифта (жирный)
    }
}