.heading
{ // Блок - заглавие
    display: flex; // Гибкое отображение
    flex-direction: row; // Все дочерние элементы в строчку
    justify-content: space-between; // Между объектами остаётся место, но первый и последний расположены по краям
    align-items: center; // Элементы (горизонтально) по центру
    width: 96%; // Ширина блока

    &__img
    { // Элемент - изображение
        border-radius: 50%; // Полное скругление
        width: 7em; // Равная высоте ширина
        height: 7em; // Равная ширине высота
        margin-right: 1em; // Внешний правый отступ
    }

    &__title
    { // Элемент - заголовок
        margin: 0; // Никаких внешних отступов
        font-size: 3.9em; // Размер шрифта
        font-family: $bold-font; // Семейство шрифта (жирное)
        text-transform: uppercase; // Текст в верхнем регистре
        color: $default-color; // Обычный цвет (синий)
        margin-right: .2em // Внешний правый отступ
    }

    &__line
    { // Элемент - линия
        width: 40%; // Ширина
        height: .5em; // Высота
        background-color: $default-color // Цвет
    }
}