//- Требуется задавать значение, которое будет вместо title
mixin heading(title)
	//- Создание блока - заглавие
	.heading
		//- Вместо title вставляется наше значение, которое будет брать с собой изображение...
		img(src=require('./img/' + title + '.png') class='heading__img')
		//- ...А так же подставляться в само текстовое заглавие, что и будет названием блока
		h1(class='heading__title')=title
		//- Создание элемента - линия
		div(class='heading__line')