<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Summary
body
	//- Mixin'ы
		//- Mixin для общего назначения. Создание шапок с соответственными названиями и требуемыми логотипами под них
	include bem/common.blocks/{block}-component/heading/{block}heading
		//- Mixin, создающий шарики с указанием количества (раскрашенных) и оставшееся кол-во, в соответствии, вычитая от максимального - нераскрашенные
	include bem/common.blocks/{block}-component/circles/circles
		//- Mixin для списков с общим единым содержанием
	include bem/common.blocks/{block}-component/lists/lists
		//- Mixin для создания блока о знании программы
	include bem/common.blocks/{block}-component/new-soft/new-soft

	//- Подключил страницу, в которой лежат компоненты
	include bem/common.blocks/page/page