// Цвета
$default-color: #3d6cb0; // Главный цвет (синий)

// Типографика
$default-font: MiryadPro; // Переменная, хранящая обычный шрифт
$bold-font: MiryadProBold; // Переменная, хранящая жирный шрифт
$light-font: MiryadProLight; // Переменная, хранящая тонкий шрифт

* { box-sizing: border-box }

// Шрифты
@import '../fonts/fonts', // Все необходимые шрифты для корректной работы

// Mixin'ы
		'../bem/common.blocks/{block}-component/heading/{block}heading', // Подключили общий компонент - заглавие (ICON, TITLE, LINE)

// БЭМ компоненты
	// На необходимом уровне
		// Левая колонка
		'../bem/common.blocks/page/page', // Страница (главный элемент)
		'../bem/common.blocks/page/__col-left/preview/preview', // Блок - превью
		'../bem/common.blocks/page/__col-left/profile/profile', // Блок - профиль
		'../bem/common.blocks/page/__col-left/contact/contact', // Блок - контакты
		'../bem/common.blocks/page/__col-left/skills/skills', // Блок - скилы (умения)

		// Правая колонка
		'../bem/common.blocks/page/__col-right/education/education', // Блок - образование
		'../bem/common.blocks/page/__col-right/experience/experience', // Блок - опыт работы
		'../bem/common.blocks/page/__col-right/software/software', // Блок - уровень владения программами

	// На уровне проекта
		'../bem/project.blocks/page/page', // Страница (главный элемент)

		// Левая колонка
		'../bem/project.blocks/page/__col-left/preview/preview', // Блок - превью
		'../bem/project.blocks/page/__col-left/profile/profile', // Блок - профиль
		'../bem/project.blocks/page/__col-left/contact/contact', // Блок - контакты
		'../bem/project.blocks/page/__col-left/skills/skills', // Блок - скилы (умения)

		// Правая колонка
		'../bem/project.blocks/page/__col-right/education/education', // Блок - образование
		'../bem/project.blocks/page/__col-right/experience/experience', // Блок - опыт работы
		'../bem/project.blocks/page/__col-right/software/software', // Блок - уровень владения программами
	
	// На уровне адаптации
		'../bem/touch.blocks/width-1566px/page/page', // Брейкпоинт - 1566px
		'../bem/touch.blocks/width-1340px/page/page', // Брейкпоинт - 1340px
		'../bem/touch.blocks/width-1180px/page/page', // Брейкпоинт - 1180px
		'../bem/touch.blocks/width-950px/page/page' // Брейкпоинт - 950px
		