@media (max-width: 1180px)
{ //  Брейкпоинт - 1180px
    .page
    { // Обёртка страницы
        padding: 2vw 0; // Внутренние верхние и нижние отступы
        
        &__col-right // Правая колонка
        { // Подключили адаптацию блока - уровень владения программами
            .software
            { // Блок - уровень владения программами
                .softs
                { // Программы
                    flex-direction: column; // Элементы в столбец
                    align-items: center; // Элементы по центру (горизонтально)

                    .block-soft
                    { // Блок с программой
                        &__bar // Прогресс-бар
                        { width: auto } // Автоматическая ширина
                    }

                    .right-softs, // Правая колонка с программами
                    .left-softs // Левая колонка с программами
                    { width: 70% } // Изменили ширину
                }
            }
        }
    }
}