.softs
{ // Блок - программы (уровень владения)
    display: flex; // Гибкое отображение
    flex-direction: row; // Элементы в строку
    justify-content: space-between; // Между объектами остаётся место, но первый и последний расположены по краям

    .left-softs // Левый блок-столбец с содержанием (уровень владения программами)
    { width: 55% } // Указали необходимую ширину блока

    .right-softs
    { // Правый блок-столбец с содержанием (уровень владения программами)
        width: 45%; // Указали необходимую ширину блока

        .block-soft
        { // Блок - программы
            &__bar // Элемент - прогресс-бар
            { width: 100% } // Указали необходимую ширину элемента
        }
    }

    .block-soft
    { // Блок - программы

        &__title
        { // Элемент - заглавие
            font-family: $light-font; // Семейство шрифта (тонкий)
            text-transform: uppercase; // Текст в верхнем регистре
            font-size: 2.3em; // Размер шрифта
            line-height: 1.4em; // Межстрочный интервал
        }

        &__bar
        { // Элемент - прогресс-бар
            background-color: lightgray; // Цвет, светло-серый
            height: 2em; // Высота
            width: 81%; // Ширина
        
            &_filled
            { // Модификатор - заполнение прогресс-бара
                height: 100%; // Высота заполнения
                background-color: $default-color; // Цвет заполнения
            }
        }
    }
}