//- Вместо title и percentage будет вводиться: текст - заглавие (в кавычках), цифра - процент заполнения (без кавычек)
mixin new-soft(title, percentage)
    //- Создание софт-блока (владение одной определённой программой)
    .block-soft
        //- В h1 подставили переменную title - заглавие
        h1.block-soft__title= title
        //- Создали элемент - прогресс-бар
        .block-soft__bar
            //- Создали модификатор - процент заполнения прогресс-бара, берущий значение из переменной percentage и вводящийся в style-аттрибут
            .block-soft__bar_filled(style='width: ' + percentage + '%')